frr defaults datacenter
  username cumulus nopassword
  !
  service integrated-vtysh-config
  !
  log syslog informational
  !
  !
  {% for interface in hostvars[inventory_hostname]["bgp"]["neighbors"] -%}
  interface {{ interface }}
   ipv6 nd ra-interval 10
   no ipv6 nd suppress-ra
  {% endfor %}
  !
  router bgp {{ hostvars[inventory_hostname]["bgp"]["as"] }}
   bgp router-id {{ hostvars[inventory_hostname]["vni13"]["local_ip"] }}
   bgp bestpath as-path multipath-relax
   {% for interface in hostvars[inventory_hostname]["bgp"]["neighbors"] -%}
   neighbor {{ interface }} interface remote-as internal
   {% endfor %}
   !
   address-family ipv4 unicast
   exit-address-family
   !
   address-family l2vpn evpn
    {% for interface in hostvars[inventory_hostname]["bgp"]["neighbors"] -%}
    neighbor {{ interface }} activate
    {% endfor %}
    advertise-all-vni
   exit-address-family
  !
  line vty
  !
