auto vagrant
iface vagrant inet dhcp

auto lo
iface lo inet loopback
  address {{ hostvars[inventory_hostname]["loopback"]["ip"] }}
  clagd-vxlan-anycast-ip {{ hostvars[inventory_hostname]["loopback"]["clag_anycast"] }}

# Management interface
auto eth0
iface eth0 inet dhcp

auto mgmt
iface mgmt
    address 127.0.0.1/8
    vrf-table auto

iface swp1
    address {{ hostvars[inventory_hostname]["swp1"]["ip"] }}

# Port to Leaf02
auto swp50
iface swp50
  alias {{ hostvars[inventory_hostname]["swp50"]["description"] }}
  # This is required for Vagrant only
  post-up ip link set swp50 promisc on

# Port to Spine01
auto swp51
iface swp51
  mtu 9216
  alias {{ hostvars[inventory_hostname]["swp51"]["description"] }}

# Port to Spine02
auto swp52
iface swp52
  mtu 9216
  alias {{ hostvars[inventory_hostname]["swp52"]["description"] }}

# CLAG Peerlink bond
auto peerlink
iface peerlink
  mtu 9000
  bond-slaves swp50

# CLAG Peerlink L2 interface.
# This creates VLAN 4094 that only lives on the peerlink bond
# No other interface will be aware of VLAN 4094
auto peerlink.4094
iface peerlink.4094
  address {{ hostvars[inventory_hostname]["peerlink"]["address"] }}
  clagd-peer-ip {{ hostvars[inventory_hostname]["peerlink"]["peerip"] }}
  clagd-backup-ip {{ hostvars[inventory_hostname]["peerlink"]["peerbackup"] }}
  clagd-sys-mac 44:39:39:ff:40:94
  clagd-priority {{ hostvars[inventory_hostname]["peerlink"]["priority"] }}

# Define the bridge for STP
auto bridge
iface bridge
  bridge-vlan-aware yes
  # bridge-ports includes all ports related to VxLAN and CLAG.
  # does not include the Peerlink.4094 subinterface
  bridge-ports {%- for ports in hostvars[inventory_hostname]["bridge"]["ports"] %} {{ ports }}
  {%- endfor %}
  
  bridge-vids {%- for vids in hostvars[inventory_hostname]["bridge"]["vlans"] %} {{ vids }}
  {%- endfor %}
  
  bridge-pvid 1

# VxLAN Tunnel for Server1-Server3 (Vlan 13)
auto vni13
iface vni13
  mtu 9000
  vxlan-id {{ hostvars[inventory_hostname]["vni13"]["vxlan_id"] }}
  vxlan-local-tunnelip {{ hostvars[inventory_hostname]["vni13"]["local_ip"] }}
  bridge-access {{ hostvars[inventory_hostname]["vni13"]["vlan_id"] }}
  bridge-learning off
  mstpctl-bpduguard yes
  mstpctl-portbpdufilter yes
  bridge-arp-nd-suppress on


#VxLAN Tunnel for Server2-Server4 (Vlan 24)
auto vni24
iface vni24
  mtu 9000
  vxlan-id {{ hostvars[inventory_hostname]["vni24"]["vxlan_id"] }}
  vxlan-local-tunnelip {{ hostvars[inventory_hostname]["vni24"]["local_ip"] }}
  bridge-access {{ hostvars[inventory_hostname]["vni24"]["vlan_id"] }}
  bridge-learning off
  mstpctl-bpduguard yes
  mstpctl-portbpdufilter yes
  bridge-arp-nd-suppress on

auto vlan13
iface vlan13
    address {{ hostvars[inventory_hostname]["vlan13"]["address"] }}
    address-virtual {{ hostvars[inventory_hostname]["vlan13"]["vrr"]["mac"] }} {{ hostvars[inventory_hostname]["vlan13"]["vrr"]['ip'] }}
    vlan-id {{ hostvars[inventory_hostname]["vlan13"]["vlan"] }}
    vlan-raw-device bridge

auto vlan24
iface vlan24
    address {{ hostvars[inventory_hostname]["vlan24"]["address"] }}
    address-virtual {{ hostvars[inventory_hostname]["vlan24"]["vrr"]["mac"] }} {{ hostvars[inventory_hostname]["vlan24"]["vrr"]['ip'] }}
    vlan-id {{ hostvars[inventory_hostname]["vlan24"]["vlan"] }}
    vlan-raw-device bridge
