auto lo
iface lo inet loopback
    address {{ hostvars[inventory_hostname]["loopback"]["ip"] }}
    clagd-vxlan-anycast-ip {{ hostvars[inventory_hostname]["loopback"]["clag_anycast"] }}
    alias loopback interface

auto eth0
iface eth0 inet dhcp
    vrf mgmt

auto mgmt
iface mgmt
    address 127.0.0.1/8
    vrf-table auto
